<ion-header [translucent]="true">
	<ion-toolbar>
	  <ion-title>
		Transferencias
	  </ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
	  <ion-list>
		  <ion-item>
			<ion-label>Cuenta origen</ion-label>
			<ion-select value="Navidad" okText="Okay" cancelText="Dismiss">
			  <ion-select-option value="Navidad">Navidad</ion-select-option>
			  <ion-select-option value="Planilla">Planilla</ion-select-option>
			</ion-select>
		  </ion-item>
		
		  <ion-item>
			<ion-label>Cuenta destino</ion-label>
			<ion-select value="Navidad" okText="Okay" cancelText="Dismiss">
			  <ion-select-option value="Navidad">Navidad</ion-select-option>
			  <ion-select-option value="Planilla">Planilla</ion-select-option>
			</ion-select>
		  </ion-item>
		  <ion-item>
			  <ion-label>Monto: $</ion-label>
			  <ion-input type="number" placeholder="0.00$"></ion-input>
		  </ion-item>
		</ion-list>
  
		<ion-grid>
		  <ion-row>
			  <ion-col></ion-col>
			  <ion-col><ion-button color="secondary">Siguiente</ion-button></ion-col>
		  </ion-row>
		</ion-grid>
		
  </ion-content>