<ion-header [translucent]="true">
	<ion-toolbar>
	  <ion-title>
		Cuentas
	  </ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
		<ion-infinite-scroll-content
		  loadingSpinner="bubbles"
		  loadingText="Loading more data...">
		  <ion-grid>
			<ion-row>
			  <ion-col *ngFor="let cuentas of cuentalista">
				<ion-card >
					<ion-card-header>
					  <ion-card-subtitle>{{cuentas.nombre_cuenta}}</ion-card-subtitle>
					</ion-card-header>
				  
					<ion-card-content>
					  <ion-card-title>{{cuentas.numero_cuenta}}</ion-card-title>
					  <ion-card-subtitle>{{cuentas.saldo_disponible}}</ion-card-subtitle>
					</ion-card-content>
			  
				</ion-card>
			  </ion-col>
			</ion-row>
		  </ion-grid>
		  
		</ion-infinite-scroll-content>
	  </ion-infinite-scroll>
	  
  </ion-content>
  